.silderBarComponent{

  //width:100%;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px 0px 0px 0px;
  overflow-x: hidden;
  //overflow-y: auto;
  background-color: #313541;
  border-right: 1px solid #eee;
}

