#weiboNewsItem {
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 15px;
  margin-right: 15px;

  .news-item-extra-wrap {
    display: flex;

    .news-item-mark {
      margin-right: 16px;

    }

    .news-item-main {
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;

      .news-item-meta {
        margin-bottom: 16px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;

        .news-item-meta-surface {
          margin-right: 16px;


          img{

            outline: none;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            vertical-align: middle;
            border-style: none;
          }
        }

        .news-item-meta-content {
          display: block;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -webkit-box-flex: 1;
          -webkit-flex: 1 0;
          -ms-flex: 1 0;
          flex: 1 0;

          .news-item-meta-title {
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 24px;
          }

          .news-item-meta-description {
            display: block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            color: rgba(0, 0, 0, 0.45);
            font-size: 14px;
            line-height: 22px;
          }
        }
      }

      .news-item-action {
        font-size: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 0;
        list-style: none;

        li {
          padding: 0 16px;
          display: inline-block;
          color: rgba(0, 0, 0, 0.45);
          cursor: pointer;
          position: relative;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
        }
      }

    }

  }
}