@import "header";
@import 'layout';
@import "reset";
@import "icon";
@import 'antd';
@import 'headerMenu';
@import 'newsItem';
@import 'weiboNewsItem';
@import 'silderBar';
@import 'pageTransaction';
@import 'pagePermission';
@import 'pageAddPermission';
@import 'pageAttendance';
@import "pageTransactionDetails";
@import 'pageExtend';
@import 'pageWeiboNews';
@import 'pageNewsAudit';
@import 'pageNews';
@import 'pageGameSearch';

$table-font-size:16px;

html, body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  font-size: 14px;
  color: #333;
  height: 100%;
}

.container {
  position: relative;
  height:100%;
}

.ruofangogo {
  margin-left: 50%;
  margin-top: 50%;
}

#oilContent{
  background: #f3f3f3;
  overflow: auto;
  height: 100%;
  padding-top: 60px;
  padding-left: 188px;
}

tr:nth-child(2n)
{
  background-color: #F3F3F3;
}